* {
  box-sizing: border-box;
}

body {
  background-image: url("./images/background.jpeg");
}

.App {
  text-align: center;
  display: grid;
  justify-content: center;
}

.count {
  font-size: 2em;
  margin: 10px;
}

.card {
  background-color: rgba(246, 231, 212, 0.904);
  padding: 20px;
  margin: 15px;
  border-radius: 4px;
}

img {
  width: 500px;
  border-radius: 10px;
}

button {
  margin: 10px;
  padding: 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  color: ghostwhite;
  font-size: 1em;
  background-color: rgb(168, 155, 180);
  transition: 0.5s;
  cursor: pointer;
  border-radius: 2px;
}

button:hover {
  background-color: rgb(142, 114, 168);
  color: rgb(253, 253, 253);
  letter-spacing: 2px;
}
